.heading {
    background-color: rgb(25, 1, 48);
    padding:0%;
    overflow: auto;
    padding:0px;
}

.heading img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:10%
}

h1 {
    color: white;
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 10vh;
}

body {
    background-color: black;
    padding: 0%;
}

p {
    color: white;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 12px;
}

label {
    color: white;
}

.display {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 20px;
    max-height: 60vh;
    justify-content: center;
}


.displayBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;     
    border: 3px solid white;
    background-color: black;
    width: 50%;
    height: 50vh;
}

.displayBox img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    object-fit: contain;
}

.displayBox p {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    object-fit: contain;
    text-align: center;
}

.buttons {
    text-align: center;
}

footer {
    display: block;
    text-align: center;
}